<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

@model Assignment

@{
    ViewData["Title"] = "Create Assignment";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <form asp-controller="Assignment" asp-action="Create" asp-route-productId="@Model.ProductID" method="post">

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Detail"></label>
            <textarea asp-for="Detail" class="form-control tinymce"></textarea>
            <span asp-validation-for="Detail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" type="date" class="form-control">
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>

    </form>

</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea.tinymce'
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }

   

}