@model IEnumerable<Product>

   <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <h2>Courses</h2>
            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Courses Section ======= -->
        <section id="courses" class="courses">
            <div class="container" data-aos="fade-up">

                <partial name="_ProductCard"></partial>

                </div>


        </section><!-- End Courses Section -->

    </main><!-- End #main -->
